*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 10%;
    gap: 30px;
}
.header img{
    height:40px;
}
.header ul{
    display: flex;
    gap: 15px;
}
li{
    list-style: none;
}
li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.hero .content{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10%;
}
.hero .content .left{
    width: 50%;
}
.left h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    
}
.left p{
    font-size: 16px;
    margin: 20px 0;
}
.left .submit form{
    display: flex;
    width: 100%;
    gap: 10px;

}
.input{
    flex-grow: 3;
}
.input input{
    width: 100%;
    outline: none;
    height: 40px;
    padding: 10px;

}
form input[type=submit]{
    flex-grow: 3;
    height:40px;
    background-color: blue;
    color: white;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
}
form input[type=submit]:hover{
    transform: scale(.99);
    background-color: rgb(45, 45, 250);
    outline: none;
    border: 0;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
    height:auto;
}
.mid{
    width:100%;
    min-height: 70vh;
    display: flex;
    position:relative;
    padding: 10%;
    background-color: hsl(240, 75%, 98%);

}
.abs{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100px;
    left: 0;
}
.abs img{
    width: 100%;
    height: 100px;
}

.mid .left2{
    width: 50%;
    
}
.top h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 200%;

}
.top p{
    height: 16px;
    opacity: .7;
    margin-bottom: 35px;

}
.bottom{
    width:70%;
    padding: 10px 20px 23px 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px -1px 5px rgb(0, 0, 0,.1);
    margin-top: 20px;
    
}
.bottom .img{
    height:40px;

}
.bottom .img img{
    height: 100%;
    width: auto;
}
.bottom p{
    font-size: 16px;

}
.profile{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}
.profile img{
    height: 50px;
    border-radius: 50%;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.right{
    width: 50%;
}
.right img{
    width: 100%;
    height:auto;
}
.top a{
    display: inline-block;
    color:hsl(170, 45%, 43%);
}
.email{
    width: 100%;
    padding: 10%;
    display: flex;
    background-color: hsl(238, 22%, 44%);
    align-items: center;
    justify-content: space-between;
}
.email .left2{
    width: 40%;
}
.links{
    display:flex;
    gap: 10px;
}
.a{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.email .left2 h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.email .left2 p{
    color: white;
    opacity:.7;
    font-size: 16px;
    line-height: 150%;
}
.email2{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email2 .input{
    width: 100%;
    margin-bottom: 20px;
}
.email2 input[type="submit"]{
    padding:0 1.5rem;
}
footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 2% 10%;
    width: 100%;
}
.grid{
    display: grid;
    width:100%;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
}
.grid ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
.grid ul li a{
    color: white;
    font-size: 16px;
}
.phone,.emailsw{
    display: flex;
    gap: 10px;
}
.phone{
    margin-bottom: 15px;
}
footer .logo svg{
    color: white;
}
@media  (max-width: 768px) {
    .hero .content{
        flex-direction: column;
    }
    .hero .content .left,.hero .content .right,.email2,.left2,.right{
        width: 100%;
    }
    .hero .content .left{
        order: 2;
        text-align: center;

    }
    .hero .content .right{
        order: 1;
    }
    .content .left h2{
        font-size: 24px;
    }
    .header svg{
        height: 100%;
    }
    form{
        flex-direction: column;

    }
    .abs img{
        width: 100%;
        height: 30px;
    }
    .abs{
        top:-30px;
    }
    .header img{
        height:20px;
        width: auto;
    }
    .mid{
        flex-direction: column;
    }
    .email{
        flex-direction: column;
        text-align: center;
        gap:30px;
    }
    .right{
        order: 1;
    }
    .mid .left2{
        order: 2;
    }
    .mid .left2,.email .left2{
        width: 100%;
    }
    .grid{
        grid-template-columns: 1fr;
        gap:30px;
    }
    .top h2{

        line-height: 125%;
        margin-bottom: 10px;
        text-align: center;
    }
    .email form input{
        width: 100%;
    }
    .link{
        margin: 20px 0;
        text-align: center;
    }
    .bottom{
        width: 90%;
    }




    
}






